
<app-home></app-home>
<p></p>
<p></p>
<div>
  <table border="1 px;" id="users" align="center">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Email</th>
      <th>Github Address</th>
      <th>Twitter Address</th>
       <th>City Of Residence</th>
       <th>Pincode</th>
       <th>Edit</th>
       <th>Delete</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user?.id}}</td>
  <td>{{user?.name}}</td>
  <td>{{user?.date_of_birth}}</td>
  <td>{{user?.email}}</td>
  <td>{{user?.github_address}}</td>
  <td>{{user?.twitter_address}}</td>
  <td>{{user?.city_of_residence}}</td>
  <td>{{user?.pincode}}</td>
  <td> <button title="edit user"  (click)="edit(user)">Edit</button></td>
  <td> <button title="delete user"
    (click)="delete(user)">Delete</button></td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>